tr td:not(:first-child), tr th:not(:first-child) {
    text-align: center;
}

.tab-header {
    background-color: hotpink;
    border-radius: 3px;
}

.strikethrough {
    text-decoration: line-through;
}